  <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Utilizadores</h3>
                            <p class="text-subtitle text-muted">Todas os Utilizadores</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                    <li class="breadcrumb-item " aria-current="page">Utilizadores</li>
                                </ol>
                            </nav>
                            
                        </div>
                    </div>
                </div>
                <div class="response_user"> </div>
                <section class="section">

                    <div class="card">
                        <div class="card-header">
                            Simple Datatable
                        </div>
                       
                        <div class="card-body">
                           
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Email</th>
                                        <th>Telemovel</th>
                                        <th>Cidade</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                  {{#each utilizadores}}
                                   <tr>
                                        <td>{{nome}}</td>
                                        <td>{{email}}</td>
                                        <td>{{phone}}</td>
                                        <td>{{city}}</td>
                                      
                                        
                                        <td>
                                          <button type="button" class="btn btn-primary btn-sm "  data-id="{{id}}" id="visualizar_utilizador">Ver</button>
                                          <button type="button" class="btn btn-primary btn-sm "  data-id="{{url}}" id="delete_tilizador">deletar</button>                                                                                          
                                          
                                        </td>
                                    </tr>
                                    {{else}}
                                    <h5>Nenhuma Utilizador</h5>
                                 {{/each}}
                        
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
  </div>

<!---details do utilizador-->
    <div id="detailsUser" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center"><b>Detahes do Utilizador</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table table-responsive table-bordered">
                                <tbody>
                              
                                <tr>
                                    <td><b>Nome do Utilizador</b></td>
                                    <td id="utilizador_nome"></td>
                                </tr>
                                <tr>
                                    <td><b>Email</b></td>
                                    <td id="utilizador_email"></td>
                                </tr>
                                <tr>
                                    <td><b>Telefone</b></td>
                                    <td id="utilizador_phone"></td>
                                </tr>

                                <tr>
                                    <td><b>Cidade</b></td>
                                    <td id="utilizador_cidade"></td>
                                </tr>
                             
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!---fim details estacao-->

 
</div>


 
 
 <!--fim-->
 